<h1>New Post</h1>

<form action="<%= posts_url %>" method="POST">
  <%= auth_token_helper %>

  <label>Title
    <input type="text" value="<%= @post.title %>" name="post[title]">
  </label>

  <label>Subs</label>

  <input type="hidden" name="post[sub_ids][]" value="">

  <% Sub.all.each do |one_sub| %>
    <label><%= one_sub.title %>
      <input
        type="checkbox"
        value="<%= one_sub.id %>"
        name="post[sub_ids][]"
        <%= "checked" if @post.subs.include?(one_sub) %>
      />
    </label>
  <% end %>

  <input type="submit" value="Create Post!">
</form>
